global:
  scrape_interval: 15s
  evaluation_interval: 15s
rule_files:
- alert_rules.yml
- recording_rules.yml
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093
scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - localhost:9090
- job_name: model-api
  scrape_interval: 10s
  metrics_path: /metrics/
  static_configs:
  - targets:
    - model-api:8000
- job_name: redis
  static_configs:
  - targets:
    - redis-exporter:9121
- job_name: postgres
  static_configs:
  - targets:
    - postgres-exporter:9187
- job_name: redpanda
  static_configs:
  - targets:
    - redpanda:9644
