global:
  scrape_interval: 15s
  evaluation_interval: 15s
rule_files:
- alert_rules.yml
- recording_rules.yml
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093
scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - localhost:9090
- job_name: ml-pipeline-api-service
  scrape_interval: 10s
  metrics_path: /metrics
  static_configs:
  - targets:
    - ml-pipeline-api-service:8000
- job_name: redis
  static_configs:
  - targets:
    - redis-service:6379
- job_name: postgres
  static_configs:
  - targets:
    - postgres-service:5432
- job_name: kubernetes-apiservers
  kubernetes_sd_configs:
  - role: endpoints
  scheme: https
  tls_config:
    ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
  bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
  relabel_configs:
  - source_labels:
    - __meta_kubernetes_namespace
    - __meta_kubernetes_service_name
    - __meta_kubernetes_endpoint_port_name
    action: keep
    regex: default;kubernetes;https
- job_name: kubernetes-nodes
  kubernetes_sd_configs:
  - role: node
  scheme: https
  tls_config:
    ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
  bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
