DATABASE_USER=mlflow
DATABASE_PASSWORD=mlflow_password
DATABASE_NAME=mlflow
DATABASE_HOST=postgres-service
REDIS_HOST=redis-service
REDIS_PORT=6379
REDIS_PASSWORD=redis_password
MLFLOW_TRACKING_URI=http://mlflow-service:5000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
